.function{
    width:100%;
    text-align:center;   
}

.function img{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15px;
}

table thead th{
    border-bottom:1px solid gray;
}

table .title{
    min-width:250px;
}

table .upload_datetime{
    min-width:140px;
}