html{
    width:100%;
}

body{
    width:100%;
    margin:0;
}

.top_nav{
    height:60px;
    width:100%;
    margin-bottom:15px;
}

.top_nav .top_nav_left{
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    padding-top:17px;
}

.top_nav .top_nav_left .website_name_text{
    font-weight:550;
    margin-right:30px;
}

.top_nav .top_nav_left .website_name_text a{
    text-decoration:none;
    color:black;
}

.top_nav .top_nav_left li{
    margin:0 15px 0 0;
    padding:0 0 0 0;
    border:0;
    float:left;
}

.top_nav .top_nav_right{
    list-style:none;
    margin:0;
    margin-right:15px;
    padding:0;
}

.top_nav .top_nav_right li{
    margin:0 15px 0 0;
    padding:0 0 0 0;
    border:0;
    float:right;
}

.description{
    max-width:1400px;

    margin:15px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:100px;
}

.description .plain_description{
    max-width:1250px;
    margin-left:auto;
    margin-right:auto;
}

.description .row_wrap{
    padding-bottom:75px;
    border-bottom:1px solid #D1D1D1;
}

.description .row_wrap p{
    margin-left:25px;
}

.button img{
    width:17px;
    height:auto;
}

.button a{
    text-decoration:none;
    color:black;
    background-color:none;
}