table thead th{
    border-bottom:1px solid gray;
}

table tbody tr td{
    border-bottom:1px solid #C6C6C6;
}

#rank{
    min-width:45px;
}

#nickname{
    min-width:150px;
}

#score{
    min-width:75px;
}

table tr .rank{
    text-align:center;
}

table tr .score{
    text-align:center;
}

table{
    padding:none;
}